@model int
<table>
    <tr>
        <td style="text-align: center">
            <span class="image-wrap">
            <img id="___expandedImage"   src='@Url.Action("_ReturnModelImage", new { id = Model })' alt="Init" style="height:400px;width:400px;" />
        </span>
        </td>
    </tr>

</table>
