<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="mimeTypeMappings" type="HammondsIBMS_2.Helpers.MimeSettings" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" /></configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="HammondsIBMSContext" connectionString="data source=(localdb)\Projects;Initial Catalog=HammondsIBMS;Integrated Security=true;multipleactiveresultsets=true" providerName="System.Data.SqlClient" />-->
    <add name="HammondsIBMSContext" connectionString="data source=.\SQLEXPRESS;Initial Catalog=HammondsIBMS;Integrated Security=true;multipleactiveresultsets=true" providerName="System.Data.SqlClient" />
    <!--<add name="HammondsIBMSContext" connectionString="Data Source=phc1i0byeg.database.windows.net,1433;Initial Catalog=HammondsIBMS;Integrated Security=False;User ID=hammondsibmsadmin;Password=A9150dmin;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>-->
    <!--<add name="HammondsIBMSContext" connectionString="data source=MISPC5;Initial Catalog=HammondsIBMS;User Id=IBMS;password=ibms321" providerName="System.Data.SqlClient" />-->
    <!--<add name="HammondsIBMSContext_CONFIG" connectionString="data source=MISPC5;Initial Catalog=HammondsIBMS;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="HammondsIBMSContext_LOCAL" connectionString="data source=|DataDirectory|HammondsIBMS.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-HammondsIBMS-2-20130426220725;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnet-HammondsIBMS-2-20130426220725.mdf;User Instance=true" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Glimpse:DisableAsyncSupport" value="true" />

  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <globalization culture="en-GB" uiCulture="en" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />-->
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />-->
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false" defaultProvider="DefaultRoleProvider">
      <providers>
        <clear />
        <!--<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />-->
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
        <add namespace="HammondsIBMS_2.Helpers" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" /></httpHandlers>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> --><httpModules>
            <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
        </httpModules></system.web>
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true"><add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" /></modules>
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /><add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" /></handlers>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <mimeTypeMappings>
    <MimeTypes>
      <add Type="application/mac-binhex40" Extensions=".hqx" />
      <add Type="application/msword" Extensions=".doc" />
      <add Type="application/pdf" Extensions=".pdf" />
      <add Type="application/postscript" Extensions=".ai;.eps;.ps" />
      <add Type="application/rtf" Extensions=".rtf" />
      <add Type="application/vnd.ms-excel" Extensions=".xla;.xlc;.xlm;.xls;.xlt;.xlw" />
      <add Type="application/vnd.ms-outlook" Extensions=".msg" />
      <add Type="application/vnd.ms-powerpoint" Extensions=".pot;.pps;.ppt" />
      <add Type="application/vnd.ms-works" Extensions=".wcm;.wdb;.wks;.wps" />
      <add Type="application/x-compress" Extensions=".z" />
      <add Type="application/x-compressed" Extensions=".tgz" />
      <add Type="application/x-gzip" Extensions=".gz" />
      <add Type="application/x-msaccess" Extensions=".mdb" />
      <add Type="application/x-msmetafile" Extensions=".wmf" />
      <add Type="application/x-mspublisher" Extensions=".pub" />
      <add Type="application/x-msschedule" Extensions=".scd" />
      <add Type="application/x-msterminal" Extensions=".trm" />
      <add Type="application/x-mswrite" Extensions=".wri" />
      <add Type="application/x-tar" Extensions=".tar" />
      <add Type="application/zip" Extensions=".zip" />
      <add Type="audio/basic" Extensions=".au;.snd" />
      <add Type="audio/mid" Extensions=".mid;.rmi" />
      <add Type="audio/mpeg" Extensions=".mp3" />
      <add Type="audio/x-aiff" Extensions=".aif;.aifc;.aiff" />
      <add Type="audio/x-pn-realaudio" Extensions=".ra;.ram" />
      <add Type="audio/x-wav" Extensions=".wav" />
      <add Type="image/bmp" Extensions=".bmp" />
      <add Type="image/gif" Extensions=".gif" />
      <add Type="image/jpeg" Extensions=".jpe;.jpeg;.jpg" />
      <add Type="image/pipeg" Extensions=".jfif" />
      <add Type="image/tiff" Extensions=".tif;.tiff" />
      <!--By default, sends HTML documents as plain text; sending it as text/html may pose security risks-->
      <!--If you wish to accept the risks, uncomment the following two lines and comment out the third.-->
      <!--<MimeType Type="text/html" Extensions=".mht;.html;.htm"/>-->
      <!--<MimeType Type="text/plain" Extensions=".txt"/>-->
      <add Type="text/plain" Extensions=".txt;.html;.htm" />
      <add Type="text/richtext" Extensions=".rtx" />
      <add Type="text/tab-separated-values" Extensions=".tsv" />
      <add Type="video/mpeg" Extensions=".mp2;.mpa;.mpe;.mpeg;.mpg;.mpv2" />
      <add Type="video/quicktime" Extensions=".mov;.qt" />
      <add Type="video/x-la-asf" Extensions=".lsf;.lsx;.asf;.asr;.asx;" />
      <add Type="video/x-msvideo" Extensions=".avi" />
    </MimeTypes>
  </mimeTypeMappings>
<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
      <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
    </glimpse></configuration>