@model HammondsIBMS_Domain.Entities.Contracts.Contract

@using (Html.BeginForm())
{
  @Html.Partial("_EditContractBody")
    <p>
        @Html.FormSubmitButton()
        @Html.FormCancelButton()
    </p>
}

