@using HammondsIBMS_2.ViewModels.StockInvoice
@Html.ContentTitle("Stock Invoice Management")
<fieldset>
    <fieldset>
        <table>
            <tr>
                <td class="buttonspace">
                    @Html.ActionDialogFormButton(new ButtonParameters(ButtonIcon.Add, "Add Stock Invoice"),
                                            new ActionParameters("CreateNewInvoice", null),
                                            new ActionDialogFormParamters("New Stock Invoice", Url.Action("Edit"), "StockInvoiceId"))
                </td>
            </tr>
        </table>
    </fieldset>


@{Html.Telerik().Grid<StockInvoiceVM>()
      .Name("StockInvoicesGrid")
      .DataKeys(keys => keys.Add(o => o.StockInvoiceid))
      .DataBinding(databind => databind.Ajax()
          .Select("_StockInvoiceGridBind", "StockInvoice"))
      .Columns(columns =>
          {
              columns.Bound(o => o.InvoiceDate);
              columns.Bound(o => o.InvoiceRef);
              columns.Bound(o => o.Supplier);
              columns.Bound(o => o.TotalCharges).Format("{0:£#0.00}");
              columns.Bound(o => o.ItemsTotal.AmountGBP).Format("{0:£#0.00}").Title("Items Total");
              columns.Bound(o => o.InvoiceTotal).Format("{0:£#0.00}");
              columns.Bound(o => o.DateProcessed);
              columns.Bound(o=>o.IsCancelled).Title("Cancelled?").Width(30).HtmlAttributes(new { @class = "bool-text-to-icon" }); 
              columns.Bound(o => o.StockInvoiceid).Title("").Sortable(false).Width(80).ClientTemplate("<div class='commandColumn'>" + @Html.ActionButton(new TelerikButtonParameters(ButtonIcon.Edit), Url.Action("Edit", new { id = "<#= StockInvoiceid #>" })).ToHtmlString() +
                                                                                                                Html.ActionDialogFormButton(new TelerikButtonParameters(ButtonIcon.Delete),
                                                                                                                                            new ActionParameters("DeleteCancelInvoice", new { id = "<#= StockInvoiceid #>" }),
                                                                                                                                            new ActionDialogFormParamters("Delete Invoice", null, "DeleteCancelInvoice", null, "UpdateStockInvoicesGrid")).ToHtmlString() +
                                                                                                                "</div>");


          })
      .ClientEvents(events => events.OnRowDataBound("onGridDataBinding"))    
      .Editable(editing => editing.Mode(GridEditMode.PopUp))
      .Pageable()
      .Sortable()
      .Render();
}
</fieldset>
<script type="text/javascript">
    function UpdateStockInvoicesGrid() {
        RebindTelerikGrid('StockInvoicesGrid');
    }

    function onGridDataBinding(e) {
        ChangeBoolTextToIcon();
    }
</script>
