<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.0" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="FluentValidation.MVC3" version="3.4.6.0" targetFramework="net40" />
  <package id="Glimpse" version="1.8.4" targetFramework="net40" />
  <package id="Glimpse.AspNet" version="1.8.1" targetFramework="net40" />
  <package id="Glimpse.Mvc3" version="1.5.3" targetFramework="net40" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net40" />
  <package id="knockoutjs" version="3.0.0" targetFramework="net40" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers" version="1.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="5.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Mvc3CodeTemplatesCSharp" version="3.0.11214.0" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="TelerikMvcExtensions" version="2013.2.611" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
</packages>