@model HammondsIBMS_Domain.Entities.Customers.Customer
@{
    var tabIndex = ViewBag.TabIndex ?? 0;
}
<div class="well well-small well-noBackground">
    <div class="well well-small">
        <table>
            <tr>
                <td>
                    <h5 id="customerheader">@Html.Action("_DisplayCustomerEditHeader", new { id = Model.CustomerId })</h5>
                </td>
                <td class="right-align">@Html.ActionButton(new ButtonParameters(ButtonIcon.Return, ButtonIconColor.White, ButtonRole.Info, "Customer List"), Url.Action("Index"))
                </td>
            </tr>
        </table>
    </div>
    <div id="CustomerTabStrip">
        @{ Html.Telerik().TabStrip()
                            .Name("TabStrip")
                            .Items(tabstrip =>
                            {
                                tabstrip.Add().Text("Accounts")
                                  .LoadContentFrom(Url.Action("_DisplayCustomerAccounts", "Account", new { customerId = Model.CustomerId, moveToEditAccount = ViewBag.MoveOnToEditAccount }));
                                tabstrip.Add().Text("Collections")
                                    .LoadContentFrom(Url.Action("_DisplayCustomerCollections", "Collections", new { id = Model.CustomerId }));
                               ////tabstrip.Add().Text("Posted")
                               ////    .LoadContentFrom(Url.Action("_DisplayPostedForCustomer", "Invoice", new { id = Model.CustomerId }));
                               ////tabstrip.Add().Text("Invoices")
                               ////    .LoadContentFrom(Url.Action("_DisplayCustomerInvoices", "Invoice", new { id = Model.CustomerId }));
                               tabstrip.Add().Text("Transactions")
                                    .LoadContentFrom(Url.Action("_DisplayCustomerAccountTransactions", "Transactions", new { id = Model.CustomerId }));
                                tabstrip.Add().Text("Details")
                                   .LoadContentFrom(Url.Action("_DisplayDetails", new { id = Model.CustomerId }));
                                tabstrip.Add().Text("Employer")
                                   .LoadContentFrom(Url.Action("_DisplayEmployerDetails", new { id = Model.CustomerId }));
                                tabstrip.Add().Text("Documents")
                                   .LoadContentFrom(Url.Action("_DisplayCustomerDocuments", new { id = Model.CustomerId }));
                            })
                                       .ClientEvents(events=>events.OnSelect("CustomerEditTabSelected"))
                            .SelectedIndex(tabIndex).Render();
        }
</div>
</div>
<script type="text/javascript">
    function UpdateCustomerHeader() {
        AjaxUpdate('@Url.Action("_DisplayCustomerEditHeader", new { id = Model.CustomerId })', '#customerheader');
        
    }

    function CustomerEditTabSelected(e) {
        $('#CustomerTabStrip').trigger('clicked', e);
    }
</script>