@using HammondsIBMS_2.ViewModels.IBMSAccounts
<fieldset>
    <fieldset>
        <div id="UnitDetails">
            @Html.Action("_CustomerAccountsBalance", new { id = ViewBag.CustomerId })
        </div>
    </fieldset>
    <fieldset>
        <legend>History</legend>

        @{
            Html.Telerik().Grid<AccountTransactionVM>()
                .Name("TransactionGrid")
                .DataBinding(dataBinding => dataBinding
                                                .Ajax()
                                                .Select("_CustomerAccountTransactionsGridBind", "Transactions", new { id = ViewBag.CustomerId }))
                .Columns(columns =>
                             {

                                 columns.Bound(o => o.TransactionDate).Format("{0:dd/MM/yyyy}");
                                 columns.Bound(o => o.AccountTransactionInputType);
                                 columns.Bound(o => o.AccountTransactionType);
                                 columns.Bound(o => o.CustomerAccountId);
                                 columns.Bound(o => o.Note);
                                 columns.Bound(o => o.Amount).Format("{0:£#0.00}").HtmlAttributes(new { @class = "money-align" })
                                     .Aggregate(aggregates => aggregates.Sum())
                                     .ClientGroupFooterTemplate("<div class='money-align'>Total: <#= $.telerik.formatString('{0:£0.00}', Sum) #></div>");
                                 columns.Bound(o => o.AccountTransactionId).Title("").Sortable(false).Groupable(false).Width(30).ClientTemplate("<div class='commandColumn'>" + @Html.ActionDialogFormButton(new TelerikButtonParameters(ButtonIcon.Asterisk).Tip("Make Adjustment"),
                                                                                                                                                                            new ActionParameters("_MakeAdjustment","Transactions", new { id = "<#= AccountTransactionId #>" }),
                                                                                                                                                                            new ActionDialogFormParamters("Make Adjustment", null, Url.Action("_MakeAdjustment", "Transactions"), null, "OnAdjustmentDone")).ToHtmlString() +
                                                                                                                 "</div>"
                               );


                             })
                .Groupable(settings => settings.Groups(groups => groups.AddDescending(o => o.CustomerAccountId)).Visible(true))
                .Pageable()
                .Sortable()
                .Render();
        }
    </fieldset>
</fieldset>

<script>
    function OnAdjustmentDone() {
        RebindTelerikGrid('TransactionGrid');
    }
</script>